.calculator {
    max-width: 350px;
    width: fit-content;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}

select {
    /* display: block; */
    margin-left: 5px;
}

input[type=text] {
    width: 330px;
    height: 25px;
    text-align: right;
    border: 0px;
    background-color: #FCFCFC;
    /* color: #d9d9d9; */
    outline: none;
    /* padding: 0 5px 0 5px; */


}

#s1 {
    border-radius: 5px 5px 0 0;
    margin: 0 0px 0px 5px;
}

#s2 {
    border-radius: 0 0 5px 5px;
    margin: 0 0px 10px 5px;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

button:active {
    transform: scale(0.9);
}

button {
    margin: 3px;
    width: 63px;
    border: none;
    height: 25px;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
}

button:hover {
    /* background-color: hsla(180, 100%, 40%, 0.3); */
    transition: .2s;
}

.btns {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mbtns {
    background-color: #e7e7e7c2;
}

.equals {
    background-color: #4285F4;
    color: white;
}

.numbers {
    background-color: #FCFCFC;
}

.basix-op,
.complex-stuff {
    background-color: #DADCE0;
}